In [1]:
import pandas as pd
# iterID	x1	x2	x3	x4	f1	rho_f1	mvar_f1	f2	rho_f2	...	Uncertainty_f1	Acquisition_f1	Expected_f2	Uncertainty_f2	Acquisition_f2	Expected_f3	Uncertainty_f3	Acquisition_f3	Hypervolume_indicator	MVaR_Hypervolume_indicator
df = pd.read_csv(r"result\exp4d\optimization_2\raqlognehvidet\0\EvaluatedSamples.csv")
iterID = df["iterID"]
df = df[["x1", "x2", "x3", "x4"]]
# ["C_NaOH/C_ZnCl_mean", "C_ZnCl_mean", "Q_AC_mean", "Q_AIR_mean"]
df = df.rename(columns={"x1": "C_NaOH/C_ZnCl", "x2": "C_ZnCl", "x3": "Q_AC", "x4": "Q_AIR"})
df = df.round(2)
# sort columnnames reverse

df = df.reindex(columns=df.columns[::-1])
df["ZiterID"] = iterID
df

    Q_AIR   Q_AC  C_ZnCl  C_NaOH/C_ZnCl  ZiterID
0    2.32   4.03    0.28           1.76        0
1    1.09   9.15    0.66           2.59        0
2    1.93   6.92    0.86           0.80        0
3    1.66   7.89    0.51           2.75        0
4    1.47   9.48    0.35           1.22        0
5    1.95   5.14    0.93           3.17        0
6    1.29   7.56    0.70           1.44        0
7    2.31   5.81    0.10           2.27        0
8    2.05   7.06    0.18           0.65        0
9    1.54   6.07    0.77           2.99        0
10   2.20   9.99    0.98           2.00        0
11   1.20   4.88    0.39           2.45        0
12   2.50   6.39    0.89           3.50        1
13   2.50  10.00    0.99           2.91        1
14   2.50   4.00    0.69           3.50        1
15   2.50  10.00    1.00           3.50        1
16   2.08   7.18    0.63           3.50        1
17   2.50   6.94    1.00           2.72        1